* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Plus Jakarta Sans', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	border: 2px solid #0e9594;
}

.account-left > img {
	width: 60px;
	height: 60px;
	border: 4px solid #0e9594;
}
.container {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.sidebar {
	grid-row: 1 / 3;
	background-color: #f2542d;
	display: flex;
	flex-direction: column;
	color: white;
	gap: 60px;
	padding-top: 20px;
	padding-left: 30px;
}

ul li {
	list-style-type: none;
}

.sidebar-header {
	display: flex;
	gap: 10px;
	align-items: center;
}

.sidebar-header span {
	font-size: 3rem;
}

.sidebar-header p {
	font-size: 1.5rem;
	font-weight: 700;
}

.btn-top ul,
.btn-bottom ul {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.btn-top ul li,
.btn-bottom ul li {
	display: flex;
	gap: 20px;
	align-items: center;
	font-weight: 700;
	width: 150px;
}

.header {
	display: flex;
	position: relative;
	z-index: 1;
	flex-direction: column;
	grid-column: 2 / 3;
	height: 170px;
	box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.3);
	padding: 15px 30px;
	gap: 30px;
}

.search {
	display: flex;
	justify-content: space-between;
}

.search-top {
	display: flex;
	gap: 15px;
	align-items: center;
}

.search-top input {
	flex-shrink: 1;
	width: 800px;
	border-radius: 16px;
	border: none;
	background-color: lightgrey;
	height: 1.5rem;
}

.search-right {
	display: flex;
	gap: 20px;
	font-weight: 700;
	justify-content: space-evenly;
	align-items: center;
}

.account {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.account-left {
	display: flex;
	align-items: center;
	gap: 15px;
}

.account-text {
	display: flex;
	flex-direction: column;
	font-weight: 700;
	gap: 5px;
}

.account-text p:first-child {
	font-size: 0.75rem;
}

.account-right {
	display: flex;
	gap: 20px;
}
.account-right button {
	padding: 0.6em 1.2em;
	font-weight: 700;
	background-color: #f2542d;
	color: white;
	border-radius: 16px;
	border: none;
	width: 100px;
}

button:hover {
	background-color: #0e9594;
}

.main {
	display: grid;
	grid-template-columns: 3fr 1fr;
	background-color: lightgrey;
	padding: 30px 40px;
	gap: 20px;
}

.main article {
	grid-column: 1 / 2;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.announcements {
	grid-column: 2 / 3;
}

.trending {
	grid-column: 2 / 3;
}

.cards-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(3, 1fr);
	gap: 30px;
}

.card {
	background-color: white;
	border-radius: 6px;
	padding: 30px 20px;
	border-left: 6px solid #f2542d;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 20px;
	box-shadow: 0px 10px 5px 4px rgba(0, 0, 0, 0.3);
}

.card-content {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card-content > p {
	font-size: 0.8rem;
	width: 60ch;
	color: grey;
}

.card-footer {
	display: flex;
	gap: 20px;
	justify-content: end;
}

.announcements {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.announcements-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 6px;
	padding: 30px 30px;
}

h4 {
	font-size: 0.9rem;
	font-weight: 600;
}

.announcements-part {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.announcements-part > p {
	font-size: 0.75rem;
	color: grey;
}

hr {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	border-top: 2px solid #0e9594;
}

.asides {
	display: flex;
	flex-direction: column;
	gap: 40px;
}

.trending {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.trending-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 6px;
	padding: 30px 30px;
	gap: 30px;
}

.trending-card {
	display: flex;
	gap: 15px;
	align-items: center;
}

.trending-text {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.trending-text p:nth-child(2) {
	color: gray;
	font-size: 0.8rem;
}
